@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

:root {
    /* Colours */
    --scissors: hsl(39, 89%, 49%);
    --scissors-50: hsl(40, 84%, 53%);
    --paper: hsl(230, 89%, 62%);
    --paper-50: hsl(230, 89%, 65%);
    --rock: hsl(349, 71%, 52%);
    --rock-50: hsl(349, 70%, 56%);
    --cyan: hsl(189, 59%, 53%);
    --lizard: hsl(261, 73%, 60%);
    --lizard-50: hsl(261, 72%, 63%);
    --cyan-50: hsl(189, 58%, 57%);


    /* Primary Colours */
    --primary-100: hsl(214, 47%, 23%);
    --primary-150: hsl(237, 49%, 15%);

    /* Neutral Colours */
    --neutral-100: #fff;
    --neutral-200: hsl(229, 64%, 46%);
    --neutral-300: hsl(217, 16%, 45%);
    --neutral-400: hsl(229, 25%, 31%);

    /* Typography */
    --fw-regular: 600;
    --fw-bold: 700;

    --f-family: 'Barlow Semi Condensed', sans-serif;

    font-size: 16px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--f-family);
}

body {
    width: 100vw;
    height: 100vh;

    width: 100dvw;
    height: 100dvh;

    overflow: hidden;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: 100%;
}

.score-wrapper p,
.rules-button,
.modal h2 {
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

/* Mobile - 375px */
body {
    background: linear-gradient(var(--primary-100), var(--primary-150));
}

header {
    display: flex;
    justify-content: center;

    width: auto;
    padding: 1rem;
    padding-top: 2rem;
}

.scoreboard-wrapper {
    display: inherit;
    justify-content: space-between;
    align-items: center;

    width: 85%;
    height: 5rem;

    border-radius: 5px;
    border: 3px solid var(--neutral-300);

    padding: .5rem;
}

.scoreboard-wrapper figure {
    height: 90%;
}

.score-wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding-block: 7px; 

    height: 100%;
    aspect-ratio: 1/1;
    border-radius: inherit;

    background: var(--neutral-100);
}

.score-wrapper p {
    font-size: .65rem;
    font-weight: var(--fw-regular);
    color: var(--neutral-200);
    letter-spacing: 2px;
}

.score-wrapper h2 {
    font-size: 1.6rem;
    font-weight: bolder;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap: 5rem 0;

    height: 100%;

    padding-bottom: 9rem;
}

main figure {
    position: fixed;
    inset: 0;
    margin: auto;

    width: 10rem;
    aspect-ratio: 1;
}

main .buttons-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1rem 3.5rem;

    width: 85%;
    height: 40%;

    margin-bottom: 3rem;
}

.jokenpo {
    display: grid;
    place-items: center;

    width: 7rem;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 0;
    z-index: 2;
    background: linear-gradient(to bottom, var(--color-1), var(--color-2));
}

.jokenpo i {
    position: absolute;
    inset: 0;
    margin: auto;

    width: 100%;
    height: 100%
}

#paper {
    --color-1: var(--paper);
    --color-2: var(--paper-50);
}

#paper i {
    background: url(../images/icon-paper.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}

#scissors {
    --color-1: var(--scissors);
    --color-2: var(--scissors-50);
}

#scissors i {
    background: url(../images/icon-scissors.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}

#rock {
    --color-1: var(--rock);
    --color-2: var(--rock-50);
}

#rock i {
    background: url(../images/icon-rock.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}

.jokenpo-inner {
    position: relative;
    background: hsl(0 0% 80%);
    width: 75%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.inner__shadow {
    position: absolute;
    top: 5px;
    background: var(--neutral-100);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.rules-button {
    width: 6.5rem;
    height: 2rem;
    background: #0000;
    color: var(--neutral-100);
    border: 1px solid var(--neutral-100);
    border-radius: 5px;
    font-size: .9rem;
}

/* Desktop - 1366px */